# python environments
venv

# env files
.env

# IDE files
.idea
.vscode
*.pyc

# mac files
.DS_Store

# files
*.csv
*.model

# data/


training/


# folders
# /training/text/base_model/cache/*
# /training/text/base_model/words_not_transformed/*
# /training/text/transformers/models/*
# /training/text/transformers/models/pretrained_roberta/*



# only keep training datasets
!/data
/data/*
!/data/text_train_1.csv
!/data/text_train_2.csv
!/data/text_val.csv
!/data/text_test.csv


requirements.txt

data_preperation/not_in_github/
data_preperation/text/__pycache__/