# pip version: 22.2

# libaries for scrapers
BeautifulSoup4==4.8.0
selenium==3.141.0
Scrapy==2.5.0
scrapy-user-agents==0.1.1
PyPDF2
fpdf

# data handling
validators==0.18.2
pandas==1.2.4
thefuzz==0.19.0
regex==2021.11.10
nltk==3.6.5
langdetect

# plotting
seaborn
matplotlib
plotly

# machine learning
gensim==4.1.2
optuna==2.10.0
transformers
torch
collections

# visualisation
matplotlib

# linting
flake8==4.0.1
pep8-naming==0.11.1
flake8-docstrings

"""
def example ():
    This is an example of Google style.

    Args:
        param1: This is the first param.
        param2: This is a second param.

    Returns:
        This is a description of what is returned.

    Raises:
        KeyError: Raises an exception.
"""